# To use dev env ini file.
# cp .env.dev.sample .env
DEBUG=True
SECRET_KEY=secret
LOG_LEVEL=INFO

# Postgres
POSTGRES_DB=anemperfeina
POSTGRES_USER=anemperfeina
POSTGRES_PASSWORD=s3cret
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Sentry
# SENTRY_URL=https://publickey@ingest.sentry.io/5

# Celery
CELERY_BROKER_PROTOCOL=redis
CELERY_BROKER_HOST=redis
CELERY_BROKER_PORT=6379
CELERY_BROKER_DB=0
CELERY_REDIRECT_STDOUTS_LEVEL=DEBUG


# Notifications Telegram Provider
# NOTIF_TELEGRAM_ENABLED=True
# TELEGRAM_TOKEN=XXXXX:XXXXX
# TELEGRAM_CHAT_IDS=@chatID1,@chatID2

# SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_USE_TLS=False
EMAIL_HOST=localhost
EMAIL_PORT=8025
EMAIL_HOST_USER="test"
EMAIL_HOST_PASSWORD="test"
