{% extends 'base.html' %}

{% load i18n widget_tweaks %}

{% block title %}
  {% trans "Employer Register" %}
{% endblock %}

{% block content %}

  <div class="col-lg-6 offset-3">
    <div class="box">
      <h3 class="heading">{% trans "New account" %}</h3>
      <p class="lead">{% trans "Not our registered yet?" %}</p>
      <p class="text-muted">
        {% trans "If you have any questions, please feel free to" %}
        <a href="#">{% trans "contact us" %}</a>,
        {% trans "our customer service center is working for you 24/7." %}
      </p>

      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {% if field.errors %}
              <div class="alert alert-danger alert-dismissable mt-1">
                <strong>{{ field.errors.0 }}</strong>
              </div>
            {% endif %}
          </div>
        {% endfor %}

        <div class="text-center">
          <button type="submit" class="btn btn-outline-white-primary">
            <em class="fa fa-user-md"></em>
            {% trans "Register" %}
          </button>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
