{% extends 'base.html' %}

{% load static i18n widget_tweaks %}

{% block title %}
  {{ title }}
{% endblock %}

{% block styles %}
  {{ form.media }}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}

  <section class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="heading">{% trans "Add a new position" %}</h1>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{ field.label }}: {{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endfor %}
          {% endif %}
          <form id="job-main-form" method="post" action="" class="job-add-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <h4>{% trans "Job details" %}</h4>
                <p class="text-muted text-small">
                  {% blocktrans %}Describe the new position filling the following fields:{% endblocktrans %}
                </p>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-group">
                <label for="title">{% trans "Job Title" %}</label>
                {% trans "Enter Company Name" as company_name %}
                {% render_field form.title class+="form-control" placeholder=form.title.help_text %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-group">
                <label for="text">{% trans "Job Description" %}</label>
                {% render_field form.description class+="form-control" placeholder=form.description.help_text %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-group">
                <label for="salary">{% trans "Salary(Leave empty if it's negotiable)" %}</label>
                {% render_field form.salary class+="form-control" placeholder=form.salary.help_text %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 form-group">
                <label for="location">{% trans "Location" %}</label>
                {% render_field form.location class+="form-control" placeholder=form.location.help_text %}
              </div>
              <div class="col-lg-6 form-group">
                <label for="type">{% trans "Type" %}</label>
                {% render_field form.type class+="form-control" placeholder=form.type.help_text %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 form-group">
                <label for="category">{% trans "Category" %}</label>
                {% render_field form.category class+="form-control" placeholder=form.category.help_text %}
              </div>
              <div class="col-lg-6 form-group">
                <label for="category">{% trans "Remote" %}</label>
                {% render_field form.remote class+="form-control" placeholder=form.remote.help_text %}
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 form-group">
                <label for="apply_url">{% trans "Apply URL" %} <span class="note">
                  ({% trans "users will apply on your website" %})
                </span></label>
                {% render_field form.apply_url class+="form-control" placeholder=form.apply_url.help_text %}
              </div>
              <div class="col-xl-6 form-group">
                <label for="validity">{% trans "Validity of the post" %}</label>
                <input type="date" name="last_date" value="{{ form.last_date.value|date:"Y-m-d" }}"
                       class="form-control" placeholder="{{ form.last_date.help_text }}" required=""
                       id="id_last_date">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <hr class="margin-bottom--big">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h4>{% trans "Company details" %}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-group">
                <label for="company_name">{% trans "Company name" %}</label>
                {% render_field form.company_name class+="form-control" placeholder=form.company_name.help_text %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-group">
                <label for="company_description">{% trans "Company Description" %}</label>
                {% render_field form.company_description class+="form-control" placeholder=form.company_description.help_text %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 form-group">
                <label for="company_website">{% trans "Website" %}</label>
                {% render_field form.website class+="form-control" placeholder=form.website.help_text %}
              </div>
            </div>
            {% if form.policies %}
              <div class="row">
                <div class="col-lg-12">
                  <hr>
                  <div class="checkbox text-center">
                    <label>
                      {% render_field form.policies %}
                      {% trans "I agree with the" %} <a href="#">{% trans "Terms and conditions" %}</a>.
                    </label>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="row">
              <div class="col-lg-12 text-center">
                <hr>
                <button type="submit" class="btn btn-outline-white-primary"><em class="fa fa-magic"></em>
                  {% trans "Save and publish" %}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
